services:
  # -------------------------------
  # BACKEND (Django)
  # -------------------------------
  - name: realestate-backend
    type: web
    env: python
    region: singapore
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn backend.wsgi:application --timeout 120
    plan: free

    envVars:
      - key: PYTHON_VERSION
        value: 3.11.7

      - key: DJANGO_SETTINGS_MODULE
        value: backend.settings

      - key: PORT
        value: 8000

      - key: GROQ_API_KEY
        sync: false

      - key: SECRET_KEY
        generateValue: true

      - key: DEBUG
        value: "False"

    buildFilters:
      - "**/*.py"

    postDeployCommand: |
      python manage.py migrate

  # -------------------------------
  # FRONTEND (React + Vite)
  # -------------------------------
  - name: realestate-frontend
    type: web
    env: static
    plan: free
    region: singapore

    buildCommand: cd frontend && npm install && npm run build

    staticPublishPath: frontend/dist

    envVars:
  - key: VITE_API_BASE
    value: https://realestate-analyzer-vc9k.onrender.com
